// Specific CSS for your home-page

// * {
//   margin: auto 0;
//   box-sizing: border-box;
// }

// html {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.main {
 padding-top: 50px;
 margin: 0 auto;
 width: 50%;
}
