// Import page-specific CSS files here.
@import "home";

.rental-card-body {
  margin-top: auto 0px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
