// Import page-specific CSS files here.
@import "home";

.rental-card-body {
  margin-top: auto 0px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign-up {
  padding: 50px;
}

.email-login {
  padding: 50px;
}

.forgot-password {
  padding: 50px;
}

ul {
list-style-type: none;
}
