// Import page-specific CSS files here.
@import "home";

@import "watches";

.rental-card-body {
  margin-top: auto 0px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sign-up {
  padding: 50px;
}

.email-login {
  padding: 50px;
}

.forgot-password {
  padding: 50px;
}

.custom-bg {
  background-color: #403D39;
}

.p-3{
 color:white;
}

// For user rentals

h1, h2, h3, h4, h5, th, p {
  color: white;
}

.td-text {
  color: white !important;
}

.card {
  background-color: #403D39;
}

label{
  color: white !important;
}

input.btn  {
  color: white !important;
}
