<html>
<div class="main">

    <div class="head">
          <head>
          <h1>Welcome to RWatches!</h1>
          </head>
    </div>
    <body>
    <p>Renting high end brand watches couldn't be easier!</p>
    </body>


</div>
</html>
